@font-face {
    font-family: didact_gothic;
    font-style: normal;
    font-weight: 400;
    src: url(../Didact_Gothic/DidactGothic-Regular.ttf);
}

@font-face {
    font-family: cinzel_bold;
    font-style: normal;
    font-weight: 700;
    src: url(../Cinzel/Cinzel-Bold.ttf)
}

:root {
    --black: #110B11;
    --main-nav-links: #76FF7A;
    --grey: #E6E8E6;
    --cinzel: cinzel_bold, serif;
    --gothic: didact_gothic, sans-serif;
    --light-link: #D6EDFF;
    --light-link-darker: #BCC4DB;
}

body {
    background-color: #fff;
}

#custom {
    font-family: var(--gothic);
}

#custom nav.main-nav {
    background-color: var(--black) !important;
    font-family: var(--cinzel);
}

nav.main-nav .my-nav-links a {
    font-variant: small-caps;
    text-align: center;
    color: var(--main-nav-links) !important;
    font-size: 1rem;
}

#custom .my-link-light {
    color: var(--light-link);
    text-decoration: underline;
}

#custom .my-link-light:focus, #custom .my-link-light:hover {
    color: var(--light-link-darker);
    text-decoration: none;
}