.main-content {
    max-width: calc(0.75 * 100%);
    margin: 0 auto;
    padding: 0;
}

#artsy-pic-bg {
    height: 50vh;
    position: relative;
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.35);
}

#profile-pic-wrapper {
    height: 100%;
    width: 45%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1.2rem 0 1.2rem 1rem;
}

#profile-pic {
    max-width:100%;
    max-height:100%;
}

.terminal-content {
    background-color: var(--my-black);
    color: var(--my-green);
    padding: 1.2rem 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.my-terminal-link {
    color: var(--my-yellow-link);
    text-decoration: underline;
}

.my-terminal-link:focus, .my-terminal-link:hover {
    color: var(--my-yellow-link-darker);
    text-decoration: none;
}

#whoami-reply {
    visibility: hidden;
}

.my-footer {
    display: flex;
    align-items: center;
}