.main-content {
    max-width: calc(0.75 * 100%);
    margin: 0 auto;
    padding: 0;
}

#artsy-pic-bg {
    height: 50vh;
    position: relative;
    z-index: 0;
    background-image: url(../images/Caspar_David_Friedrich-Wanderer_above_the_sea_of_fog.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.03);
}

#profile-pic-wrapper {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    padding: 1.2rem 1rem;
    position: relative;
    z-index: 10;
}

#profile-pic {
    max-width:100%;
    max-height:100%;
}

.terminal-content {
    background-color: var(--black);
    color: #fff;
    padding: 1.2rem 1rem;
    font-family: 'Courier New', Courier, monospace;
}

#whoami-reply {
    visibility: hidden;
}